<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Fortress</string>
	<key>uuid</key>
	<string>B4BF3903-5197-4A4F-B41F-B8DE4416300E</string>
</dict>
</plist>
